<ActionBar title="sendbird" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Button text="Launch Tabs" (tap)="start()" class="btn btn-primary"></Button>
			<Button text="Launch Create Channel" (tap)="launchCreateChannel()" class="btn btn-primary"></Button>
			<Button text="Launch Join Fandom" (tap)="launchCreateChannel()" class="btn btn-primary"></Button>
			<Button text="Launch Private Chat" (tap)="privateChat()" class="btn btn-primary"></Button>
			<Button text="Leave channel" (tap)="leaveChannel()" class="btn btn-primary"></Button>
			<!-- <Button text="Receive Message" (tap)="receiveMessages()" class="btn btn-primary"></Button> -->
      <Label textWrap="true" [text]="unreadCount ? unreadCount.toString() : '0'"></Label>
		</StackLayout>
	</ScrollView>
</StackLayout>
